<% if (guestbookPageNavigation?.hasMultiplePages) { %>
  <div class="guestbook-page-nav-layer">
    <% if (guestbookPageNavigation.previousPage?.url) { %>
      <a
        class="guestbook-page-nav guestbook-page-nav-prev"
        data-guestbook-page-navigation-link
        data-guestbook-page-fetch-url="<%= guestbookPageNavigation.previousPage.fetchUrl || guestbookPageNavigation.previousPage.url %>"
        href="<%= guestbookPageNavigation.previousPage.url %>"
        aria-label="Vorherige Gästebuch-Seite"
        title="Vorherige Seite"
      >
        &#8249;
      </a>
    <% } else { %>
      <span class="guestbook-page-nav guestbook-page-nav-prev is-disabled" aria-hidden="true">&#8249;</span>
    <% } %>

    <% if (guestbookPageNavigation.nextPage?.url) { %>
      <a
        class="guestbook-page-nav guestbook-page-nav-next"
        data-guestbook-page-navigation-link
        data-guestbook-page-fetch-url="<%= guestbookPageNavigation.nextPage.fetchUrl || guestbookPageNavigation.nextPage.url %>"
        href="<%= guestbookPageNavigation.nextPage.url %>"
        aria-label="Nächste Gästebuch-Seite"
        title="Nächste Seite"
      >
        &#8250;
      </a>
    <% } else { %>
      <span class="guestbook-page-nav guestbook-page-nav-next is-disabled" aria-hidden="true">&#8250;</span>
    <% } %>
  </div>
<% } %>
