<%- include("../partials/start") %>

<section class="header-line serverlist-page-header">
  <div>
    <h1>Rollenspiel</h1>
  </div>
</section>

<%- include("overview", {
  serverlistOverviewEmbedded: true,
  dashboardOverviewReturnTargetOverride: "/dashboard"
}) %>

<%- include("../partials/end") %>
